@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&family=JetBrains+Mono:wght@100..800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Vazirmatn", ui-sans-serif, system-ui, sans-serif;
  --font-vazir: "Vazirmatn", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, monospace;
}

body {
  font-family: var(--font-sans);
}

/* Print Styling */
@media print {
  body {
    background: white;
    color: black;
  }
  .no-print {
    display: none !important;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid #000 !important;
    padding: 6px !important;
    font-size: 10px !important;
  }
}
